html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0%;
  padding: 0;
  height: 100%;
  min-height: 100%;
}
.App {
  height: 100%;
  min-height: 100%;
  text-align: center;
  background-color: rgba(32, 33, 36, 1);
}
#root {
  height: 100%;
  min-height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tableWrapper {
  padding: 2rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
fieldset {
  border: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
